{
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "BracketSameLine": false,
    "tabWidth": 2,
    "semi": true,
    "singleAttributePerLine": true
}
  